body {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modalForm {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 450px;
  height: 300px;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  & > label {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.header {
  text-align: center;
}

button {
  padding: 8px 12px;
  color: white;
  background-color: darkseagreen;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  border: solid darkseagreen 2px;
}

input,
textarea {
  border-radius: 5px;
  font-weight: normal;
}

input,
textarea,
button {
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  border: solid darkseagreen 3px;
}

select {
  width: 150px;
}
option {
  font-size: normal;
}

#title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

#description {
  margin-bottom: 20px;
  font-size: 18px;
}

#priority {
  font-size: 15px;
}

.modalActionBtn {
  margin-top: 20px;
  text-align: end;

  & > button {
    margin-right: 10px;
  }
}

.board {
  margin-top: 30px;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: dotted;
  border-width: 0.5px;
  border-top: none;

  & > label {
    text-align: center;
    background-color: azure;

    border-style: dotted;
    border-width: 0.5px;
    border-top: none;
  }

  & > label > div {
    text-align: center;
    height: 100%;
  }
}

.taskTitle {
  /* font-size: 20px; */
}

.taskTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.New-task {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: lightcoral;
}

.Inprogress-task {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: lightskyblue;
}

.Inreview-task {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: lightpink;
}

.Completed-task {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: lightgreen;
}
